header {
    width: 100%;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        font-size: 28px;
        font-weight: 700;
    }

    nav {

        display: flex;
        align-items: center;
        gap: 2px;

        p {
            font-size: 18px;
            padding: 0 5px;
        }
    }
}