aside {
    display: flex;
    flex-direction: column;
    padding: 1px;
    gap: 20px;

    div {
        width: 90%;
        padding: 11px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        border-bottom: 1px solid black;
    }

    p {
        width: 75%;
    }
}